header {
    background: lightblue;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;

}
header h1 {
    text-align: center;
    display: inline-block;
    width: 30%;
}
.buscador {
    width: auto;
    text-align: end;
    padding-right: 5em;
}
.buscador input{
    width: 500px;
    height: 20px;
    align-items: center;
}
.buscador button {
    background-color: goldenrod;
    font-weight: bold;
    border-color: gold;
    height: 30px;
}
.encabezado{
    text-align: center;
}
.imagenes {
    display: flex;
    justify-content: space-between;
}
.imagenes img {
    height: 300px;
}
.copyright {
    background: black;
    color: white;
    text-align: end;
    padding-right: 20px;
}
.form {
    background: greenyellow;
    border-radius: 15px;

}
.form p {
    text-align: center;
    font-size: large;
}
.form form {
    display: flex;
    justify-content: center;
    
}
.form 