header {
    background: lightblue;
    border-radius: 15px;
    text-align: center;
}
header h4 {
    padding-bottom: 10px;
}

.imagenes img {

    height: 300px;
}

.copyright {
    background: black;
    color: white;
    text-align: end;
    padding-right: 20px;
}
.form {
    background: greenyellow;
    border-radius: 15px;

}
.form p {
    text-align: center;
    font-size: large;
}
.form form {
    display: flex;
    justify-content: center;
    
}
.form 